body{
  background-color: #FCF9F9;
}

/* lớp phủ màu đen */
.login{
  background-color:black; 
  opacity: 0.8;
  margin: 10px;
}
/*  */
/* button đăng nhập */
.button {
  display: inline-block;
  text-decoration: none;
  letter-spacing: 2px;
  outline: 2px solid;
  padding: 20px 60px;
  position: relative;
  overflow: hidden;
  transition: color 1s;
  color: white;
}

.button {
  --color: #3e8e41;
  font-family: "Poppins", sans-serif;
  padding: 15px 30px;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  font-weight: 500;
  outline: none;
  border: none;
  font-size: 16px;
  position: relative;
  isolation: isolate;
  transition: color 0.25s linear;
}

.button:before {
  content: "";
  height: 100%;
  width: 0;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: var(--color);
  z-index: -1;
  transition: width 0.25s ease-in;
}

.button:hover {
  color: white;
}

.button:hover:before {
  width: 100%;
}
/*  */
/* footer */
footer{
  background-color: #272727;
  text-align: center;
  text-transform: uppercase;
  padding-top: 10px;
  margin-top: auto;
}

footer li{
  list-style: none;
  margin: 10px;
  display: inline-block;
}

.icons a{
  background: #52527a;
  color: #272727;
  padding: 14px;
  font-size: 20px;
  border-radius: 100%;
  display: flex;
}
.icons a:hover{
  color: #ffffff;
  transition: 0.5s;
}

.menu a{
  color: #ffffff;
  text-transform: capitalize;
}
.menu a:hover{
  color: #52527a;
  transition: 0.5s;
}

.footer-copyright{
  background-color:#52527a;
  padding: 15px;
  margin-top: 30px;
  text-transform: capitalize;
}

.footer-copyright p{
  margin-bottom: 0px;
}
/*  */