.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 7px 10px;
  font-size: 16px;
  width: 240px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 280px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

/* bộ lọc thống kê */

:root {
  --color-black: #232323;
  --color-pink: #ff6393;
  --color-purple: #342a47;
  --color-blue: deepskyblue;
  --color-gray: #525252;
  --color-green: #54B435;
  --transition-fast: 0.1s;
}

.InputGroup {
  display: flex;
  height: 40px;
}

.radio {
  visibility: hidden;
}

.label {
  display: flex;
  flex: auto;
  /* vertical-align: middle; */
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  background-color: var(--color-gray);
  color: white;
  border-radius: 6px;
  padding: 2px;
  transition: color --transition-fast ease-out,
    background-color --transition-fast ease-in;
  margin-right: 5px;
  height: 38px;
}

.label:last-of-type {
  margin-right: 0;
}

.radio:checked+.label {
  background-color: var(--color-green);
}

.radio:hover:not(:checked)+.label {
  background-color: #01ff2f;
  color: black;
}

/*  */


/* chuyển động ở Danh sách các lớp học hiện có */
.music-waves-2 {
  height: 50px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.music-waves-2>span {
  display: block;
  position: relative;
  background: #000;
  height: 100%;
  width: 1rem;
  border-radius: 1rem;
  margin: 0 0.2rem;
  animation: waves-2 1.2s linear infinite;
}

.music-waves-2>span:nth-child(1) {
  animation-delay: 0s;
  background: #ff8c00;
}

.music-waves-2>span:nth-child(2) {
  animation-delay: 0.3s;
  background: #ffff00;
}

.music-waves-2>span:nth-child(3) {
  animation-delay: 0.6s;
  background: #26d53a;
}

.music-waves-2>span:nth-child(4) {
  animation-delay: 0.9s;
  background: #26e6a3;
}

.music-waves-2>span:nth-child(5) {
  animation-delay: 0.6s;
  background: #1da8e2;
}

.music-waves-2>span:nth-child(6) {
  animation-delay: 0.3s;
  background: #5916ba;
}

.music-waves-2>span:nth-child(7) {
  animation-delay: 0s;
  background: #d418d9;
}

@keyframes waves-2 {
  50% {
    height: 20%;
  }

  100% {
    height: 100%;
  }
}

/*  */
/* chuyển động ở trên cái biểu đồ ở phần thống kê */
.music-waves {
  position: relative;
}

.music-waves span {
  position: absolute;
  width: 5px;
  height: 5px;
  bottom: 0;
  background: #000;
  animation: waves 0.5s infinite ease;
}

.music-waves span:nth-child(1) {
  animation-delay: 0.3s;
  background: #ff8c00;
}

.music-waves span:nth-child(2) {
  margin-left: 7px;
  animation-delay: 0.4s;
  background: #ffff00;
}

.music-waves span:nth-child(3) {
  margin-left: 14px;
  animation-delay: 0.6s;
  background: #26d53a;
}

.music-waves span:nth-child(4) {
  margin-left: 21px;
  animation-delay: 0.8s;
  background: #26e6a3;
}

.music-waves span:nth-child(5) {
  margin-left: 28px;
  animation-delay: 1s;
  background: #1da8e2;
}

@keyframes waves {
  0% {
    height: 5px;
  }

  30% {
    height: 15px;
  }

  60% {
    height: 20px;
  }

  80% {
    height: 15px;
  }

  100% {
    height: 5px;
  }
}

/*  */
/* nút quay về đầu trang */
.back_top {
  width: 50px;
  height: 50px;
  background-color: #1858DD;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: fixed;
  bottom: 40px;
  right: 20px;
  cursor: pointer;
}

/*  */

.color_table {
  background-color: #000D6B;
}

.title_table {
  color: #155263;
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
}

.button_xanhla {
  background-color: #00541A;
  border: none;
  font-weight: bold;
}

.btn_chitiet {
  background-image: linear-gradient(to bottom left, #5B4C97, #BD6267);
  border: none;
}

.button_cam {
  background-color: #FF5B00;
  border: none;
  font-weight: bold;
}

.button_do {
  background-color: #FF1E1E;
  border: none;
  font-weight: bold;
}

.button_thongke {
  background-color: #00AF91;
  border: none;
  font-weight: bold;
}

.button_loc {
  border-radius: 3px;
  background-color: #a4aa13;
  font-weight: bold;
}

.color_alert {
  background-color: #885000;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}

/* footer */
footer {
  background-color: #272727;
  text-align: center;
  text-transform: uppercase;
  padding-top: 10px;
  margin-top: auto;
}

footer li {
  list-style: none;
  margin: 10px;
  display: inline-block;
}

.icons a {
  background: #52527a;
  color: #272727;
  padding: 14px;
  font-size: 20px;
  border-radius: 100%;
  display: flex;
}

.icons a:hover {
  color: #ffffff;
  transition: 0.5s;
}

.menu a {
  color: #ffffff;
  text-transform: capitalize;
}

.menu a:hover {
  color: #52527a;
  transition: 0.5s;
}

.footer-copyright {
  background-color: #52527a;
  color: #ffffff;
  padding: 15px;
  margin-top: 30px;
  text-transform: capitalize;
}

.footer-copyright p {
  margin-bottom: 0px;
}

/*  */